n8n-workflows/03-email-para-inbox.json
{
  "name": "📧 Email para Inbox — WebfullSec",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "c3a3a3a3-3333-4333-8333-333333333301",
      "name": "A cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "options": {
          "unseen": true
        }
      },
      "id": "c3a3a3a3-3333-4333-8333-333333333302",
      "name": "Ler Emails (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [440, 300],
      "credentials": {
        "imap": {
          "id": "CONFIGURE_SEU_IMAP",
          "name": "Email IMAP — WebfullSec"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extrair dados relevantes do email\nconst email = $input.item.json;\n\n// Título: assunto do email (limitado a 100 chars)\nconst title = (email.subject || 'Email sem assunto').substring(0, 100);\n\n// Conteúdo: texto do email (limitado a 2000 chars)\nconst content = (email.textPlain || email.text || email.html || 'Sem conteúdo')\n  .replace(/<[^>]*>/g, '') // Remove HTML tags\n  .substring(0, 2000);\n\n// Remetente\nconst from = email.from?.text || email.from?.value?.[0]?.address || 'Desconhecido';\n\n// Determinar prioridade baseado em palavras-chave\nlet priority = 2; // Média\nconst lowerSubject = title.toLowerCase();\nif (lowerSubject.includes('urgente') || lowerSubject.includes('urgent')) priority = 4;\nelse if (lowerSubject.includes('importante') || lowerSubject.includes('important')) priority = 3;\n\nreturn {\n  json: {\n    title: `📧 ${title}`,\n    content: `De: ${from}\\n\\n${content}`,\n    source: 'email',\n    priority: priority,\n    metadata: JSON.stringify({\n      from: from,\n      date: email.date,\n      messageId: email.messageId\n    })\n  }\n};"
      },
      "id": "c3a3a3a3-3333-4333-8333-333333333303",
      "name": "Formatar para Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webfullsec.webfullvps.com.br/api/webhooks/inbox",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "dev-webhook-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"priority\": {{ $json.priority }},\n  \"metadata\": \"{{ $json.metadata }}\"\n}",
        "options": {}
      },
      "id": "c3a3a3a3-3333-4333-8333-333333333304",
      "name": "Enviar para Inbox WebfullSec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    }
  ],
  "connections": {
    "A cada 5 minutos": {
      "main": [
        [
          {
            "node": "Ler Emails (IMAP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Emails (IMAP)": {
      "main": [
        [
          {
            "node": "Formatar para Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar para Inbox": {
      "main": [
        [
          {
            "node": "Enviar para Inbox WebfullSec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    {
      "name": "WebfullSec"
    }
  ]
}
